.primary{
    height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(58, 57, 57);
    color: white;
}

.init-text{
    margin-top: 20vh;
    margin-bottom: 2vh;
}

.register-anchor{
    text-decoration: none;
    cursor: pointer;
}

form{
    width: 30vw;
}