<nav class="navbar fixed-top navbar-expand-lg" [ngClass]="{ 'landing': landingPageActive==false }">
    <div class="container-fluid">
      <a class="navbar-brand" [ngClass]="{ 'minimal-size': landingPageActive==false }">Gestion de Motos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-2icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="{ 'disabled': landingPageActive==false }" href="#">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [ngClass]="{ 'disabled': landingPageActive==false }" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cliente
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Modificar / Registrar</a></li>
                <li><a class="dropdown-item" href="#">Documento</a></li>
                <li><a class="dropdown-item" href="#">Actividad</a></li>
                <li><a class="dropdown-item" href="#">Estado</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [ngClass]="{ 'disabled': landingPageActive==false }" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos / Servicios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Modificar / Registrar</a></li>
                <li><a class="dropdown-item" href="#">Tipo De Producto / Servicio</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" [ngClass]="{ 'disabled': landingPageActive==false }" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Mover Productos / Servicios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Mover</a></li>
                <li><a class="dropdown-item" href="#">Tipo de Movimiento</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>