<div class="primary">
    <div class="container">
        <h1 class="init-text">Modificar Estado</h1>
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="editEstado">
                    <div class="mb-3">
                        <label for="estado" class="form-label" >Estado</label>
                        <input type="text" class="form-control" id="estado" formControlName="estado">
                      </div>
                      <div class="btn-borrar">
                        <button class="btn btn-success w-100" (click)="actualizarData()"
                        [disabled]="!this.editEstado.valid || this.obtuvoData == false">Actualizar</button>
                     </div>
                      <div class="btn-borrar">
                        <button class="btn btn-danger w-100" (click)="delete()">Eliminar</button>
                     </div>
                </form>
            </div>
    
            <div class="col-md-6">
                <form class="search" [formGroup]="searchEstado">
                    <div class="mb-3">
                      <label for="estado" class="form-label">Estado</label>
                      <input type="text" id="estado" class="form-control" formControlName="estado">
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn btn-primary w-100" (click)="buscar()"
                            [disabled]="!this.searchEstado.valid">Buscar Y Seleccionar</button>
                        </div>
                        <div *ngIf="this.searchEstado.controls['estado'].value != '' && this.obtuvoData == true">
                            <ul class="list list-group">
                                <li *ngFor="let item of data" class="list-group-item custom-list">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            Estado: {{ item.estado }}
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    <div class="exit">
                        <button class="btn btn-exit btn-danger w-100" routerLink="/principal/cliente/documento/agregar">Volver a la pestaña registrar</button>
                    </div>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</div>
